body {font-family: Helvetica, sans-serif; font-size: 16px; line-height: 1.6; color: #000000;padding: 24px;}
h1 { font-size: 32px; line-height: 1.2;font-weight: bold; }
h2 { font-size: 24px; line-height: 1.3; font-weight: bold; }
h3 { font-size: 18px; line-height: 1.35; font-weight: bold; }
p, li { font-size: 16px; }
a {color: #000000;}